# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.ts text
*.js text
*.json text
*.md text
*.yml text
*.yaml text

# Denote all files that are truly binary
*.db binary
*.sqlite binary
*.sqlite3 binary
