# Copy this file to terraform.tfvars and fill in values
# DO NOT commit terraform.tfvars to git

aws_region       = "us-west-2"
ami_id           = "ami-XXXXXXXXXXXXXXXXX" # Ubuntu 22.04 LTS us-west-2
instance_type    = "t2.micro"
key_name         = "prx01-tubearchive"
domain           = "insighta.one"
root_volume_size = 8

# Phase 2 features
enable_ssm        = false
enable_cloudwatch = false
